  /* Layout principal del tablero */
.game-board {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  /* puntos */
  /* background:
    radial-gradient(circle, rgba(0, 0, 0, 0.233) 1px, transparent 1px) repeat,
    var(--color-primary-red);
  background-size: 24px 24px; */

  /* fondo animado */
  /* background: linear-gradient(270deg, var(--color-primary-red-light), #ff4b2b, var(--color-primary-red-darkplus), var(--color-primary-red));
  background-size: 800% 800%;
  animation: gradientMove 20s ease infinite; */

  /* background: linear-gradient(135deg, var(--color-primary-red) 0%, #bd1251 100%); */
  /* background-color: #22223b; Un azul oscuro elegante */
  /* box-shadow: inset 0 0 120px 0 rgba(0,0,0,0.4); */
  /* background-color: #22223b; */
  /* background-image: radial-gradient(square, var(--color-primary-red-darkplus) 1px, transparent 1px); */
  /* background-size: 20px 20px; */

  /* grid */
  /* opacity: 0.8;
  background-image: linear-gradient(var(--color-primary-red-darkplus) 1px, transparent 1px), linear-gradient(to right, var(--color-primary-red-darkplus) 1px, var(--color-primary-red) 1px);
  background-size: 20px 20px; */

  /* noise */
  /* --s: 4px; 
  --g: repeating-conic-gradient(var(--color-primary-red-dark) 0 25%,var(--color-primary-red-light) 0 50%) 0/;
  background:
    var(--g) calc(1*var(--s)) calc(7*var(--s)),
    var(--g) calc(2*var(--s)) calc(5*var(--s)),
    var(--g) calc(3*var(--s)) calc(3*var(--s)),
    var(--g) calc(5*var(--s)) calc(2*var(--s)),
    var(--g) calc(7*var(--s)) calc(1*var(--s));
  background-blend-mode:darken; */

  /* cruces */
  /* --s: 5px; 
  --c1: var(--color-primary-red-darkplus);
  --c2: var(--color-primary-red);
  
  background:
    conic-gradient(at 60% 60%,var(--c1) 75%,#0000 0)
     0 0/calc(5*var(--s)/2) calc(5*var(--s)/2),
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%)
     0 0/calc(5*var(--s)) calc(5*var(--s)),
    repeating-conic-gradient(var(--c2) 0 25%,var(--c1) 0 50%)
     0 0/var(--s) var(--s);  */
}

.board-area {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: var(--hud);
  flex: 1;
}

/* Mensaje fin de juego */
.game-over-message {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  } */