.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  background: var(--color-primary-red-darkplus);
  /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.4); */
  /* border: 2px solid var(--color-primary-red-darkplus); */
  border-radius: 1rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .center {
    top:35%;
    gap: clamp(12px, 3vw, 20px);
    padding: clamp(0.5rem, 2.5vw, 1rem);

    /* --card-width: 4rem; */
    /* --card-height: 6rem; */
  }

  .center-piles {
    gap: clamp(8px, 3vw, 16px);
  }

  .card-count {
    font-size: clamp(0.9rem, 3.5vw, 1.1rem);
    padding: 6px 8px;
  }
}


/* Pilas del centro */
.center-piles {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  z-index: 2;
}

.draw-pile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discard-pile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* contador del mazo */
.card-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 7px 10px;
  border-radius: 12px;
  pointer-events: none;
}

.draft {
  display: flex;
  gap: 12px;
  position: relative;
}

/* Reduce el scale en hover SOLO para la carta del draw-pile */
.draw-pile .carta-visual:hover:not(.selected),
.draft .carta-visual:hover:not(.selected),
.discard-pile .carta-visual:hover:not(.selected) {
  transform: scale(1.1) translateY(-4px) rotate(-2deg);
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6), 0 0 16px rgba(240, 230, 210, 0.10); */
  z-index: 1;
}