.played-cards-modal-overlay {
    position: fixed;
    top: -50%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    background: radial-gradient(circle at center, rgba(10, 10, 20, 0.55) 0%, rgba(10, 10, 20, 0.05) 70%, rgba(10, 10, 20, 0) 100%);
    transition: opacity 0.5s cubic-bezier(.68, -0.55, .27, 1.55);
    /* background: rgba(10, 10, 20, 0.15);  */
    /* backdrop-filter: blur(1px); Difumina el fondo */
    /* box-shadow: 0 2px 1200px rgba(0, 0, 0, 0.779); */
}

.played-cards-modal-overlay.closing {
    opacity: 0;
}

.played-cards-modal {
    text-align: center;
    color: white;
    animation: aparecerModal 0.5s cubic-bezier(.68, -0.55, .27, 1.55);
    /* Animación al mostrar */
}

.played-cards-modal.closing {
    animation: desaparecerModal 0.3s ease-out forwards;
}

@keyframes aparecerModal {
    from {
        opacity: 0;
        transform: scale(0.95) translateY(40px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes desaparecerModal {
    from {
        opacity: 1;
        transform: scale(1) translateY(0);
    }

    to {
        opacity: 0;
        transform: scale(0.95) translateY(40px);
    }
}

.played-cards-modal .carta-visual {
    cursor: default !important;
}

.played-cards-modal h1,
.played-cards-modal h2 {
    font-size: large;
    color: white;
    background: rgb(30, 30, 30);
    border-radius: 12px;
    padding: 0.7em 1.3em;
    display: inline-block;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
}

.played-cards-list {
    display: flex;
    justify-content: center;
    position: relative;
}

.played-cards-list .carta-animada {
    position: relative;
    box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.95), 0 1.5px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 32px;
}

/* Apilado: cada carta menos la primera se superpone y el z-index aumenta */
.played-cards-list .carta-animada:not(:first-child) {
    margin-left: -2.5rem;
}

.played-cards-list .carta-animada {
    position: relative;
}

/* Carousel effect */
/* 1 carta: centrada, sin rotación */
.played-cards-list .carta-animada:only-child {
    transform: rotate(0deg);
}

/* 2 cartas: una a la izquierda, otra a la derecha */
.played-cards-list .carta-animada:first-child:nth-last-child(2) {
    transform: rotate(-4deg);
}

.played-cards-list .carta-animada:last-child:nth-child(2) {
    transform: rotate(4deg);
}

/* 3 cartas: izquierda, centro, derecha */
.played-cards-list .carta-animada:first-child:nth-last-child(3) {
    transform: rotate(-6deg);
}

.played-cards-list .carta-animada:nth-child(2):nth-last-child(2) {
    transform: rotate(0deg);
    transform: translateY(-0.5rem);
}

.played-cards-list .carta-animada:last-child:nth-child(3) {
    transform: rotate(6deg);
}