.player-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.desgracia {
    position: absolute; /* <-- Cambia fixed por absolute */
    top: 0rem;
    left: 50%;          /* <-- Centra horizontalmente */
    transform: translateX(-50%);
    margin-left: .5rem;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
    background: #b91c1c;
    color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.jugador-avatar {
    --avatar-size: 5rem;
    width: var(--avatar-size);
    height: var(--avatar-size);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jugador-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jugador-nombre {
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(255, 255, 255);

    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}



@media (max-width: 768px) {

    .jugador {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        width: 100%;
        /* max-width: 100vw; */
    }

    .jugador-avatar {
        --avatar-size: 3.5rem;
    }

    .jugador-nombre {
        font-size: 1rem;
        max-width: 30vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.jugador-nombre .jugador-es-tu {
    font-weight: 900;
}

.jugador-mensaje {
    font-weight: 700;
    color: #000000;
    margin-top: 0.5rem;
}
