.secretos-propios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mano-secreta-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
    z-index: 5;
}

/* Hover de secretos propios */
.carta-visual.secreta.propio:hover {
  transform: translateY(-36px) scale(1.8) rotate(-2deg);
  z-index: 10;
}

@media (max-width: 768px) {
    .mano-secreta-container > div {
        margin-right: -1.2rem; 
    }
    .mano-secreta-container > div:last-child {
        margin-right: 0;
    }
}
