/* src/components/Input/Input.css */

.input-global {
  /* Use the CSS variables from your global stylesheet */
  background-color: var(--color-primary-yellow-dark);
  color: #000000; /* Set text color for better contrast */
  font-family: var(--font-family-main);
  /* height: 100px; */
  width: 100%;
  padding: 20px 20px;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Ensures padding doesn't affect final width */
  /* transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; */
  transition: all 0.2s ease-in-out;
}

/* Style the placeholder text */
.input-global::placeholder {
  color: #000000;
  opacity: 0.7;
}

.input-global:focus {
  outline: none; /* We use box-shadow for focus instead of outline */
  /* border-color: var(--color-primary-red); */
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);  */
  background-color: var(--color-primary-yellow-darkplus);
  

}